@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Admin.Models.ViewModels.OrderDetailVM

<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2">
            <h1> @Localizer["OrderDetail"]</h1>
            <p class="breadcrumbs">
                <span><a href="/"> @Localizer["Home"]</a></span>
                <span><i class="mdi mdi-chevron-right"></i></span> @Localizer["Orders"]
            </p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ec-odr-dtl card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <h2 class="ec-odr">
                            @Localizer["OrderDetail"]<br>
                            <span class="small">@Localizer["OrderID"]: #@Model.OrderItems.First().Order.ID</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <address class="info-grid">
                                    <div class="info-title"><strong>@Localizer["Customer"]:</strong></div>
                                    <br>
                                    <div class="info-content">
                                        @Model.OrderItems.First().Order.FirstName, @Model.OrderItems.First().Order.LastName<br>
                                        @Model.OrderItems.First().Order.Address<br>
                                        <abbr title="Phone">@Localizer["P"]:</abbr> @Model.OrderItems.First().Order.Phone
                                    </div>
                                </address>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <address class="info-grid">
                                    <div class="info-title"><strong>@Localizer["PaymentMethod"]:</strong></div>
                                    <br>
                                    <div class="info-content">
                                        @Model.OrderItems.First().Order.PaymentMethod<br>
                                        @Model.OrderItems.First().Order.Email<br>
                                    </div>
                                </address>
                            </div>
                            <div class="col-xl-3 col-lg-6">
                                <address class="info-grid">
                                    <div class="info-title"><strong>@Localizer["OrderDate"]:</strong></div>
                                    <br>
                                    <div class="info-content">
                                        @Model.OrderItems.First().Order.Timestamp
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="tbl-title">@Localizer["PRODUCTSUMMARY"]</h3>
                                <div class="table-responsive">
                                    <table class="table table-striped o-tbl">
                                        <thead>
                                            <tr class="line">
                                                <td><strong>#</strong></td>
                                                <td class="text-left"><strong>@Localizer["IMAGE"] </strong></td>
                                                <td class="text-center"><strong>@Localizer["PRODUCT"] </strong></td>
                                                <td class="text-center"><strong>@Localizer["PRICE_UNIT"] </strong></td>
                                                <td class="text-center"><strong>@Localizer["QUANTITY"] </strong></td>
                                                <td class="text-right"><strong> @Localizer["SUBTOTAL"] </strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var count = 1;
                                                double subtotal = 0;
                                                double OrderTotal = 0;
                                            }
                                            @foreach (var item in Model.OrderItems)
                                            {
                                                var total = item.Quantity * item.Product.Price;
                                                OrderTotal += total;
                                                foreach (var orderItem in Model.OrderItems.Where(orderItem => orderItem.OrderID == item.ID))
                                                {
                                                    subtotal += orderItem.Quantity * orderItem.Product.Price;
                                                }
                                                <tr>
                                                    <td>@count</td>
                                                    <td class="text-left"><img class="product-img" src="/images/@item.ImageProduct" style="width:100px" alt=""></td>
                                                    <td class="text-center">
                                                        <strong>@item.Product.NameEn</strong>
                                                    </td>
                                                    <td class="text-center">@item.Product.Price</td>
                                                    <td class="text-center">@item.Quantity</td>
                                                    <td class="text-right">@total</td>
                                                </tr>
                                                count++;
                                            }
                                            <tr>
                                                <td colspan="4"></td>
                                                <td class="text-right"><strong>@Localizer["Taxes"]</strong></td>
                                                <td class="text-right"><strong>N/A</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                </td>
                                                <td class="text-right"><strong>@Localizer["Total"]</strong></td>
                                                <td class="text-right"><strong>@OrderTotal.ToString("F") @Localizer["JOD"]</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                </td>
                                                <td class="text-right"><strong>@Localizer["PaymentStatus"]</strong></td>
                                                <td class="text-right"><strong>@Model.OrderItems.FirstOrDefault().Order.PaymentStstus</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 0px 30px;display: flex;justify-content: flex-end;gap: 5px;">
        <button type="button" id="Cancelbtn" style="border: 1px solid #333;padding: 5px 10px;float: right;">@Localizer["Cancel"]</button>
    </div>
    <!-- End Content -->
</div>

<script src="~/lib/jquery/dist/jquery.min.map"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).on("click", "#Cancelbtn", function () {
        debugger
        window.location.href = "/Order"
    });
</script>
