@model Admin.Models.ViewModels.OrderDetailVM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="center-1">
    <div class="page order-details-page">
        <div class="container-fluid position-relative">
            <div class="d-flex justify-content-center align-items-center py-30 px-0 page-header">
                <div class="position-absolute t-0 b-0 l-0 r-0 bg-gray page-header--bg"></div>
                <div class="position-relative page-header--content">

                    <h1 class="clr-white f-s-20 text-center page-header--content-title">@Localizer["OrderInformation"]</h1>
                    @*                    <div class="d-block pt-2 text-center"><a href="/orderdetails/print/58" target="_blank" class="btn btn-primary btn-md print-order-button">Print</a> <a href="/orderdetails/pdf/58" class="btn btn-gray btn-md pdf-invoice-button">PDF Invoice</a></div>
                    *@
                </div>
            </div>
        </div>
        <div class="py-5 page-body">
            <div class="container">
                <div class="order-overview">
                    <div class="order-number"><strong>@Localizer["OrderNumber"]: @Model.OrderItems.First().ID</strong></div>
                    <ul class="order-overview-content">
                        <li class="order-date">@Localizer["OrderDate"]: @Model.OrderItems.First().Order.Timestamp</li>
                        <li class="order-status">@Localizer["OrderStatus"]: @Model.OrderItems.First().Order.OrderStatus</li>
                    </ul>
                </div>
                <div class="order-details-area">
                    <div class="billing-info-wrap">
                        <div class="billing-info">
                            <div class="title"><strong>@Localizer["BillingAddres"]</strong></div>
                            <ul class="info-list">
                                <li class="name">@Model.OrderItems.First().Order.FirstName @Model.OrderItems.First().Order.LastName</li>
                                <li class="email">@Localizer["Email"]: @Model.OrderItems.First().Order.Email</li>
                                <li class="phone">@Localizer["PhoneNumber"]: @Model.OrderItems.First().Order.Phone</li>
                                <li class="fax">@Localizer["FaxNumber"]: @Model.OrderItems.First().Order.Fax</li>
                                <li class="address1">@Model.OrderItems.First().Order.Address</li>
                                <li class="city-state-zip">@Model.OrderItems.First().Order.City,@Model.OrderItems.First().Order.Zip</li>
                                <li class="country">@Model.OrderItems.First().Order.Address2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="shipping-info-wrap">
                        <div class="shipping-info">
                            <div class="title"><strong>@Localizer["Payment"]</strong></div>
                            <ul class="info-list">
                                <li class="payment-method"><span class="label"> @Localizer["PaymentMethod"]: </span> <span class="value">@Model.OrderItems.First().Order.PaymentMethod </span></li>
                                <li class="payment-method-status"><span class="label"> @Localizer["PaymentStatus"]: </span> <span class="value"> @Model.OrderItems.First().Order.PaymentStstus </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section products">
                    <div class="title"><strong>@Localizer["Products"]</strong></div>
                    <div class="table-wrapper">
                        <table class="data-table">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="name">@Localizer["Name"]</th>
                                    <th class="price">@Localizer["Price"]</th>
                                    <th class="quantity">@Localizer["Quantity"]</th>
                                    <th class="total">@Localizer["Total"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var OrderTotal = 0.0;
                                }
                                @foreach (var orderItem in Model.OrderItems)
                                {
                                    <tr>
                                        <td class="product"><em><a href="/Products/Detail?=@orderItem.Product.Id">@orderItem.Product.NameEn</a></em></td>
                                        <td class="unit-price"><label class="mb-0 td-title">@Localizer["Price"]:</label> <span class="product-unit-price">@orderItem.Product.Price @Localizer["JOD"]</span></td>
                                        <td class="quantity"><label class="mb-0 td-title">@Localizer["Quantity"]:</label> <span class="product-quantity">@orderItem.Quantity</span></td>
                                        @{
                                            var total = orderItem.Quantity * @orderItem.Product.Price;
                                            OrderTotal += total;
                                        }
                                        <td class="total"><label class="mb-0 td-title">Total:</label> <span class="product-subtotal">@total @Localizer["JOD"]</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mb-0 section totals">
                    <div class="total-info">
                        <table class="cart-total">
                            <tbody>
                                <tr>
                                    <td class="cart-total-left"><label class="mb-0">@Localizer["Sub_Total"]:</label></td>
                                    <td class="cart-total-right"><span>@OrderTotal @Localizer["JOD"]</span></td>
                                </tr>
                                <tr>
                                    <td class="cart-total-left"><label class="mb-0">@Localizer["Tax"]:</label></td>
                                    <td class="cart-total-right"><span>0.00 @Localizer["JOD"]</span></td>
                                </tr>
                                <tr>
                                    <td class="cart-total-left"><label class="mb-0">@Localizer["OrderTotal"]:</label></td>
                                    <td class="cart-total-right"><span><strong>@OrderTotal @Localizer["JOD"]</strong></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center text-md-right actions"><input type="button" onclick="location.href='/orders'" value="@Localizer["Back"]" class="btn btn-primary btn-lg text-uppercase re-order-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>