@model Admin.Models.Wishlist

<div class="center-1">
    <div class="page shopping-cart-page">
        <div class="container-fluid position-relative">
            <div class="d-flex justify-content-center align-items-center py-50 px-0 page-header">
                <div class="position-absolute t-0 b-0 l-0 r-0 page-header--bg" style="background-image:url('')">
                </div>
                <div class="position-relative page-header--content">
                    <h1 class="clr-white f-s-20 text-center text-uppercase page-header--content-title">@Localizer["Wishlist"]</h1>
                </div>
            </div>
        </div>
        @if (Model != null && Model.WishlistsDetail != null && Model.WishlistsDetail.Count > 0)
        {
            <div class="page-body">
                <div class="wishlist-content">
                    <div class="container">
                        <form method="post" class="wl--form" action="/wishlist">
                            <div class="mt-4 wl--form-wrapper">
                                <div class="d-none d-lg-block wl--header">
                                    <div class="row align-items-center">
                                        <div class="col-3">@Localizer["Products"]</div>
                                        <div class="col-2">@Localizer["Price"]</div>
                                        <div class="col-2">@Localizer["Qty"]</div>
                                        <div class="col-2">@Localizer["Total"]</div>
                                    </div>
                                </div>
                                @foreach (var item in Model.WishlistsDetail)
                                {
                                    <div class="wl--list">
                                        <div class="mb-4 mb-lg-0 sp-cart--list-item">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-md-12 col-lg-3 order-2 order-md-2 mb-3 mb-lg-0 border-bottom border-lg-0">
                                                    <div class="d-inline-flex align-items-center w-100 text-left product">
                                                        <a class="pr-3" href="/Products/Detail?Id=@item.Products.Id"> <img class="wl--img" alt="@item.Products.NameEn" src="/images/@item.Image" style="max-width:100px" title="@item.Products.NameEn"> </a>
                                                        <div class="d-inline-flex flex-column justify-content-center py-2 py-lg-0 wl--product-info">
                                                            <h5 class="m-0 mb-2 f-s-14"><a href="/Products/Detail?Id=@item.ProductId" class="product-name clr-dark">@item.Products.NameEn</a></h5>
                                                            <div class="wl--product-buttons">
                                                                <div class="d-inline-flex pt-1 pr-3 delete-item"><a class="clr-dark" onclick="location.href='@Url.Action("AddItem", "Cart", new { productId = item.ProductId })'"><i class="fas fa-cart-plus"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4 col-lg-2 order-4 order-md-3">
                                                    <div class="px-3 px-lg-0 text-left unit-price"><span class="d-block d-sm-inline-block d-lg-none pr-2">@Localizer["Price"]:</span> <span class="clr-gray-3">@item.Products.Price X @item.Quantity</span></div>
                                                </div>
                                                <div class="col-12 col-md-4 col-lg-2 order-3 order-md-4 mb-3 mb-md-0 pb-3 pb-md-0 border-bottom border-md-0">
                                                    <div class="input-group mx-auto mx-lg-0 justify-content-center justify-content-lg-between align-items-center p-qty--counter"><span class="input-group-btn"> <button class="btn btn-minus btn-disabled" type="button" onclick="location.href='@Url.Action("RemoveItem", "WishList", new { productId = item.ProductId })'"> <i class="fas fa-minus"></i> </button> </span> <input name="itemquantity1701" id="itemquantity1701" type="text" value="@item.Quantity" class="qty-input"> <span class="input-group-btn"> <button class="btn btn-plus" type="button" onclick="location.href='@Url.Action("AddItem", "WishList", new { productId = item.ProductId })'"> <i class="fas fa-plus"></i> </button> </span></div>
                                                </div>
                                                <div class="col-6 col-md-4 col-lg-2 order-5 order-md-5">
                                                    <div class="px-3 px-lg-0 text-left text-sm-center subtotal"><span class="d-block d-sm-inline-block d-lg-none pr-2">@Localizer["Total"]:</span> <span class="clr-gray-3 product-subtotal">@(item.Products.Price * item.Quantity) @Localizer["JOD"]</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="page-body">
                <div class="py-2 py-md-4 py-lg-5 no-data">
                    <div class="container">
                        <div class="d-flex flex-column jutify-content-center align-items-center px-3 py-5">
                            <i class="far fa-heart fa-5x"></i>
                            <p class="mt-3 mb-4 f-s-24 clr-dark font-weight-medium text-uppercase">@Localizer["wishlistIsEmpty"]</p>
                            <a class="btn btn-primary btn-lg text-uppercase" href="/" title="@Localizer["ReturnToShop"]">@Localizer["ReturnToShop"]  </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>