﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text;
@inject IViewLocalizer Localizer
@model Admin.Models.Products


<div class="ec-content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>@Localizer["EditProduct"]</h2>
                    </div>
                    <div class="card-body">
                        <div class="row ec-vendor-uploads">
                            <span class="spnreq" id="Imagesreq" style="color : red ; display:none"> @Localizer["UplaodAtLeastTwoImages"]</span>
                            <div class="col-lg-4">
                                <div class="ec-vendor-img-upload">
                                    <div class="ec-vendor-main-img">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit deleted-image-upload">
                                                <input type="button" class="ec-image-upload">
                                                <label for="imageUpload"><img src="https://flyclipart.com/thumb2/delete-icon-327000.png" class="svg_img header_svg newimageUpload" alt="delete"></label>
                                            </div>
                                            <div class="avatar-preview ec-preview">
                                                <div class="imagePreview ec-div-preview">
                                                    <img class="ec-image-preview" src="/images/@Model.BaseImage" alt="edit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumb-upload-set colo-md-12">
                                            <div class="thumb-upload">
                                                <div class="thumb-edit deleted-image-upload">
                                                    <input type="button" class="ec-image-upload">
                                                    <label for="imageUpload"><img src="https://flyclipart.com/thumb2/delete-icon-327000.png" class="svg_img header_svg" alt="delete"></label>
                                                </div>
                                                @*                                                <div class="deleted-image-upload" style="left: 5px;">
                                                <input type="button" class="ec-image-upload">
                                                <label for="imageUpload" style="width: 20px;height: 20px;"><img src="https://flyclipart.com/thumb2/delete-icon-327000.png" class="svg_img header_svg" alt="edit"></label>
                                                </div>
                                                *@
                                                <div class="thumb-preview ec-preview">
                                                    <div class="image-thumb-preview">
                                                        <img class="image-thumb-preview ec-image-preview" src="/images/@Model.AltImage" alt="delete">
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var item in Model.Images)
                                            {
                                                <div class="thumb-upload">
                                                    <div class="thumb-edit deleted-image-upload">
                                                        <input type="button" class="ec-image-upload">
                                                        <label for="imageUpload"><img src="https://flyclipart.com/thumb2/delete-icon-327000.png" class="svg_img header_svg" alt="delete"></label>
                                                    </div>
                                                    @*                                                    <div class="deleted-image-upload" style="left: 5px;">
                                                <input type="button" class="ec-image-upload">
                                                <label for="imageUpload" style="width: 20px;height: 20px;"><img src="https://flyclipart.com/thumb2/delete-icon-327000.png" class="svg_img header_svg" alt="edit"></label>
                                                </div>*@
                                                    <div class="thumb-preview ec-preview">
                                                        <div class="image-thumb-preview">
                                                            <img class="image-thumb-preview ec-image-preview" src="/images/@item.ImageName" alt="edit">
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <button type="button" id="addImage"> <i class="mdi mdi-image-plus"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="ec-vendor-upload-detail">
                                    <form class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">@Localizer["ProductName"]</label>
                                            <span class="spnreq" id="productNameEntxtreq" style="color : red ; display:none">@Localizer["NameIsRequired"]</span>
                                            <input type="text" class="form-control slug-title req" id="productNameEntxt" asp-for="@Model.NameEn">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["SelectBrand"]</label>
                                            <span class="spnreq" id="ddlAllBrandsreq" style="color : red ; display:none">@Localizer["PleaseSelectBrand"]</span>
                                            <select name="categories" id="ddlAllBrands" class="form-select"></select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["ProductFeatured"]</label>
                                            <select class="form-select" id="selecrdFeatured" asp-for="@Model.IsFeatured">
                                                <option value="true">@Localizer["Yes"]</option>
                                                <option selected value="false">@Localizer["No"]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["Description"]</label>
                                            <span class="spnreq" id="descEntxtreq" style="color : red ; display:none">@Localizer["DescriptionIsRequired"]</span>
                                            <textarea id="descEntxt" class="form-control req" rows="2" asp-for="@Model.DescriptionEn"></textarea>

                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["Price"] <span>( @Localizer["InJOD"] )</span></label>
                                            <span class="spnreq" id="Pricetxtreq" style="color : red ; display:none">@Localizer["PriceIsRequired"]</span>
                                            <input type="number" class="form-control req" id="Pricetxt" asp-for="@Model.Price">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label ">Size</label>
                                            <span class="spnreq" id="sizetxtreq" style="color : red ; display:none">@Localizer["SizeIsRequired"]</span>
                                            <input type="text" class="form-control req" id="sizetxt" asp-for="@Model.Size">
                                        </div>
                                        @*                                        <div class="col-md-12 mb-25">
                                        <label class="form-label">@Localizer["Types"]</label>
                                        <div class="TypesToAdd">
                                        <input type="color" class="form-control form-control-color typeValue" id="exampleColorInput1" value="" title="Choose your color">
                                        </div>
                                        <button type="button" id="addType"> <i class="mdi mdi mdi-plus-outline"></i> </button>
                                        <span class="spnreq" id="typeValuereq" style="color : red ; display:none">@Localizer["FillAtLeastOneType"]</span>
                                        </div>*@
                                        <div class="col-md-12">
                                            <button type="button" id="SaveProductbtn" class="btn btn-primary">@Localizer["Submit"]</button>
                                            <button type="button" id="Cancelbtn" class="btn btn-danger">@Localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>
<script src="~/lib/jquery/dist/jquery.min.map"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var imagesToUpload = []
    imagesToUpload.push("@Model.BaseImage")
    imagesToUpload.push("@Model.AltImage")
    @{
        foreach (var productImage in Model.Images)
        {
            <text>
               imagesToUpload.push("@productImage.ImageName")
            </text>
        }
    }
    $(document).on('change', ".imageUpload", function () {
        debugger
        $.each(this.files, function (i, item) {
            imagesToUpload.push(item.name)
        });
        $('.imageUpload').val(null);
    });

    $('.deleted-image-upload').click(function () {
        debugger
        var src = $(this).siblings('.thumb-preview').find('.ec-image-preview').attr('src');
        var result = src.replace(/\/images\//, "");
        $(this).parent().remove();
        debugger
        $.each(imagesToUpload, function (i, item) {
            var index = imagesToUpload.indexOf(result);
            if (item == result) {
            imagesToUpload.splice(index, 1);
            //imagesToUpload.remove(item);
            }
        });
        alert(imagesToUpload);
    });





















    GetAllBrands();

    function GetAllBrands() {
        $.ajax({
            url: "/Brands/GetAllBrands",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var $dropdown = $("#ddlAllBrands");
                $dropdown.append($("<option selected/>").val("").text("Select Brand"));
                $.each(data, function (i, item) {
                    $dropdown.append($("<option />").val(item.id).text(item.nameEn));
                });
                var dropdownBrands = $("#dropdownBrands");
                dropdownBrands.append($("<option selected/>").val("").text("Select Brand"));
                $.each(data, function (i, item) {
                    dropdownBrands.append($("<option />").val(item.id).text(item.nameEn));
                });
                $dropdown.val(null);
                dropdownBrands.val(null);
            },
            error: function (response) {
                swal('Oops...', 'Something went wrong!', 'error');;
            }
        });
    }
    function EditProduct() {
        debugger
        var ProductEnName = $("#productNameEntxt").val();
        var ProductdescEntxt = $("#descEntxt").val();
        var Productsizetxt = $("#sizetxt").val();
        var ProductPricetxt = $("#Pricetxt").val();
        var ProductBaseImgFile = $("#BaseImgFile").val();
        var ProductaltImgFile = $("#altImgFile").val();
        var IsFeaturedCH = $('#selecrdFeatured').val();

        //var IsFeaturedCH = IsFeatuer;
        var Brand = $("#ddlAllBrands").val();
        //$('.typeValue').each(function () {
        //    // Retrieve the selected color value
        //    var selectedColor = $(this).val();

        //    // Add the selected color to the colorList array
        //    newTypes.push(selectedColor);
        //});
        let valid = true;
        $('.spnreq').hide();
        $('.req').each(function () {
            if ($(this).val() === "" || $(this).val().trim() === "") {
                $('#' + $(this).attr('id') + 'req').show();
                valid = false;
            }
        })
        if (imagesToUpload.length < 2) {
            valid = false;
            $('#Imagesreq').show();
        }
        //if (newTypes.length < 1) {
        //    valid = false;
        //    $('#typeValuereq').show();
        //}
        if (Brand == null || Brand == "") {
            valid = false;
            $('#ddlAllBrandsreq').show();
        }

        if (valid == true) {
            $.each(imagesToUpload, function (i, item) {
                form.append("Images", item);
            });
            $.ajax({
                url: "/Products/AddImages",
                type: "POST",
                data: form,
                processData: false,
                contentType: false,
                success: function (result) {
                    var productsVM = {
                        NameEn: ProductEnName,
                        DescriptionEn: ProductdescEntxt,
                        Size: Productsizetxt,
                        Price: ProductPricetxt,
                        BaseImage: result[0],
                        AltImage: result[1],
                        IsFeatured: IsFeaturedCH,
                        BrandsId: Brand,
                        Images: result
                    };
                    $.ajax({
                        url: "/Products/Edit",
                        type: "POST",
                        dataType: "Json",
                        contentType: "application/json",
                        data: JSON.stringify(productsVM),
                        success: function (data) {
                            //var Types = {
                            //    ProductId: data.data.id,
                            //    Types: newTypes
                            //}
                            //$.ajax({
                            //    url: "/Types/AddTypes",
                            //    type: "POST",
                            //    dataType: "Json",
                            //    contentType: "application/json",
                            //    data: JSON.stringify(Types),
                            //    success: function (data) {

                            //        //swal("Success", data.Message, "success");
                            //        $("#AddProduct").slideUp();
                            //        $("#EditProduct").slideUp();
                            //        imagesToUpload = [];
                            //        GetAllProducts();
                            //    },
                            //    error: function (err) {
                            //        swal('Oops...', 'Something went wrong!', 'error');
                            //    }
                            //});
                            $("#productNameEntxt").val(null);
                            $("#descEntxt").val(null);
                            $("#Pricetxt").val(null);
                            $("#sizetxt").val(null);
                            $("#BaseImgFile").val(null);
                            $("#altImgFile").val(null);
                            //$('.typeValue').each(function () {
                            //    $(this).val(null);
                            //});

                            imagesToUpload = [];
                            $("#AddProduct").slideUp();
                            location.reload()
                        },
                        error: function (err) {
                            swal('Oops...', 'Something went wrong!', 'error');
                        }
                    })
                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX request
                }
            });
        }
    }
    $(document).on("click", "#SaveProductbtn", function () {
        EditProduct();
    });
    $('#image-input').change(function () {
        debugger
        var input = this;

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Update the source of the image element
                $('#preview-image').attr('src', e.target.result);
            };
            $('#preview-image').attr('src', input.files[0].name);
            //reader.readAsDataURL(input.files[0]);
        }
    });
    $(function () {
        $('#addImage').click(function () {
            var newDiv = $('<div class="thumb-upload"><div class="thumb-edit"><input id="thumbUpload01" type="file" class="imageUpload ec-image-upload rec" accept=".png, .jpg, .jpeg"><label for="imageUpload"><img src="/admin/assets/img/icons/edit.svg" class="svg_img header_svg" alt="edit"></label></div><div class="thumb-preview ec-preview"><div class="image-thumb-preview"><img class="image-thumb-preview ec-image-preview" src="/admin/assets/img/products/vender-upload-thumb-preview.png" alt="edit"></div></div></div>');
            $('.thumb-upload-set').append(newDiv);
        });

        //$('.deleted-image-upload').click(function () {
        //    var imageDelete = $(".ec-image-preview").attr('src')

        //    //imageDelete = Convert.ToBase64String(Encoding.UTF8.GetBytes());
        //    $(this).parent().remove();
        //    debugger
        //    $.each(imagesToUpload, function (i, item) {
        //        if (item == imageDelete) {
        //        imagesToUpload.remove(item);
        //        }
        //    });
        //});

        //$('#addType').click(function () {
        //    var newDiv = $('<input type="color" class="form-control form-control-color typeValue" id="exampleColorInput1" value="" title="Choose your color">');
        //    //newDiv.style.background = "#000";
        //    $('.TypesToAdd').append(newDiv);
        //});
    });
</script>