﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text;
@inject IViewLocalizer Localizer
@model Admin.Models.Products


<div class="ec-content-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>@Localizer["EditProduct"]</h2>
                    </div>
                    <div class="card-body">
                        <div class="row ec-vendor-uploads">
                            <span class="spnreq" id="Imagesreq" style="color : red ; display:none"> @Localizer["UplaodAtLeastTwoImages"]</span>
                            <div class="col-lg-4">
                                <div class="ec-vendor-img-upload">
                                    <div class="ec-vendor-main-img">
                                        <div class="avatar-upload thumb-upload">
                                            <div class="deleted-image-upload avatar-edit" style="left: 25px; width:40px;">
                                                <input type="button" class="ec-image-upload">
                                                <label for="imageUpload"><i class="mdi mdi mdi-delete-outline header_svg newimageUpload" style="font-size:25px;"></i></label>
                                            </div>
                                            <div class="avatar-preview ec-preview thumb-preview">
                                                <div class="imagePreview ec-div-preview imageContainer">
                                                    <img class="ec-image-preview" src="/images/@Model.Images[0].ImageName" alt="edit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumb-upload-set colo-md-12">
                                            <div class="thumb-upload">
                                                <div class="deleted-image-upload avatar-edit" style="left: 5px; width:40px;">
                                                    <input type="button" class="ec-image-upload">
                                                    <label for="imageUpload"><i class="mdi mdi mdi-delete-outline header_svg newimageUpload" style="font-size:20px;"></i></label>
                                                </div>
                                                <div class="thumb-preview ec-preview">
                                                    <div class="image-thumb-preview imageContainer">
                                                        <img class="image-thumb-preview ec-image-preview" src="/images/@Model.Images[1].ImageName" alt="edit">
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var item in Model.Images.Skip(2))
                                            {
                                                <div class="thumb-upload">
                                                    <div class="deleted-image-upload avatar-edit" style="left: 5px; width:40px;">
                                                        <input type="button" class="ec-image-upload">
                                                        <label for="imageUpload"><i class="mdi mdi mdi-delete-outline header_svg newimageUpload" style="font-size:20px;"></i></label>
                                                    </div>
                                                    <div class="thumb-preview ec-preview">
                                                        <div class="image-thumb-preview imageContainer">
                                                            <img class="image-thumb-preview ec-image-preview" src="/images/@item.ImageName" alt="edit">
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <button type="button" id="addImage"> <i class="mdi mdi-image-plus"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="ec-vendor-upload-detail">
                                    <form class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">@Localizer["ProductNameEn"]</label>
                                            <span class="spnreq" id="productNameEntxtreq" style="color : red ; display:none">@Localizer["NameIsRequired"]</span>
                                            <input type="text" class="form-control slug-title req" id="productNameEntxt" asp-for="@Model.NameEn">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">@Localizer["ProductNameAr"]</label>
                                            <span class="spnreq" id="productNameEntxtreqAr" style="color : red ; display:none">@Localizer["NameIsRequired"]</span>
                                            <input type="text" class="form-control slug-title req" id="productNameEntxtAr" asp-for="@Model.NameAr">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["SelectBrand"]</label>
                                            <span class="spnreq" id="ddlAllBrandsreq" style="color : red ; display:none">@Localizer["PleaseSelectBrand"]</span>

                                            <select name="categories" id="ddlAllBrands" class="form-select" asp-for="@Model.BrandsId">
                                            @foreach (var item in ViewBag.Brands)
                                                {
                                                    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                                                    var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;
                                                    <option value="@item.Id" asp-selected="@(name == Model.Brands.NameEn)">@name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["ProductFeatured"]</label>
                                            <select class="form-select" id="selecrdFeatured" asp-for="@Model.IsFeatured">
                                                <option value="true" asp-selected="@(Model.IsFeatured ? "true" : "false")">@Localizer["Yes"]</option>
                                                <option value="false" asp-selected="@(Model.IsFeatured ? "false" : "true")">@Localizer["No"]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["DescriptionEn"]</label>
                                            <span class="spnreq" id="descEntxtreq" style="color : red ; display:none">@Localizer["DescriptionIsRequired"]</span>
                                            <textarea id="descEntxt" class="form-control req" rows="2" asp-for="@Model.DescriptionEn"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["DescriptionAr"]</label>
                                            <span class="spnreq" id="descEntxtreq" style="color : red ; display:none">@Localizer["DescriptionIsRequired"]</span>
                                            <textarea id="descEntxtAr" class="form-control req" rows="2" asp-for="@Model.DescriptionAr"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["Price"] <span>( @Localizer["InJOD"] )</span></label>
                                            <span class="spnreq" id="Pricetxtreq" style="color : red ; display:none">@Localizer["PriceIsRequired"]</span>
@*                                              <input type="number" class="form-control req" id="Pricetxt" asp-for="@Model.Price">*@
                                                <input type="text" class="form-control req" id="Pricetxt" asp-for="@Model.Price">
    
                                            </div>
                                        <div class="col-md-6">
                                            <label class="form-label ">Size</label>
                                            <span class="spnreq" id="sizetxtreq" style="color : red ; display:none">@Localizer["SizeIsRequired"]</span>
                                            <input type="text" class="form-control req" id="sizetxt" asp-for="@Model.Size">
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="SaveProductbtn" class="btn btn-primary">@Localizer["Submit"]</button>
                                            <button type="button" id="Cancelbtn" class="btn btn-danger">@Localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>
<script src="~/lib/jquery/dist/jquery.min.map"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var imagesToUpload = [];
        var oldNameOfImages = [];
        var newImagesToUpload = [];
        var imagesToUploadFiles = {};
        var form = new FormData();
        var Image;
        @{
            foreach (var productImage in Model.Images)
            {
                <text>
                    oldNameOfImages.push("@productImage.ImageName")
                </text>
            }
        }
        $(function () {
            $('#addImage').click(function () {
                var newDiv = $('<div class="thumb-upload"><div class="thumb-edit"><input type="file" class="imageUpload ec-image-upload rec imageInput" accept = ".png, .jpg, .jpeg"><label for= "imageUpload"><img src= "/admin/assets/img/icons/edit.svg" class= "svg_img header_svg" alt = "edit" > </label></div><div class="deleted-image-upload" style = "left: 5px;" ><input type="button" class="ec-image-upload" ><label for= "imageUpload" > <i class= "mdi mdi mdi-delete-outline header_svg newimageUpload" style = "font-size:20px;" > </i></label ></div><div class="thumb-preview ec-preview"><div class="image-thumb-preview imageContainer"><img class="image-thumb-preview ec-image-preview" src = "/admin/assets/img/products/vender-upload-thumb-preview.png" alt = "edit" ></div></div></div>');
                $('.thumb-upload-set').append(newDiv);
            });
        });
        $(document).on("click", "#Cancelbtn", function () {
            window.location.href = "/Products/"
        });
        $(document).on('change', '.imageInput', function (e) {
            var file = e.target.files[0];
            // Create an object URL for the image file
            var objectURL = URL.createObjectURL(file);


            // Find the closest imageContainer div relative to the current input
            var imageContainer = $(this).closest('.thumb-upload').find('.imageContainer');

            // Create an <img> element and set its source to the object URL
            var img = $('<img>').attr('src', objectURL);
            // Empty the selected imageContainer div and append the image
            imageContainer.empty().append(img);

            debugger;
            var updatedSrc = img.attr('src');
            updatedSrc = updatedSrc.substr(updatedSrc.lastIndexOf('/') + 1);
            newImagesToUpload.push(file, updatedSrc);

            $(this).val(null);
        });
        $(document).on('click', '.deleted-image-upload', function () {
            debugger
            var imageContainer = $(this).closest('.thumb-upload').find('.imageContainer img').attr('src');
            imageContainer = imageContainer.substr(imageContainer.lastIndexOf('/') + 1);
            $.each(imagesToUpload, function (i, item) {
                var index = imagesToUpload.indexOf(imageContainer);
                if (item == imageContainer) {
                imagesToUpload.splice(index, 1);
                }
            });
            $.each(newImagesToUpload, function (i, item) {
                var index = newImagesToUpload.indexOf(imageContainer);
                if (item == imageContainer) {
                newImagesToUpload.splice(index, 1);
                }
            });
            $.each(oldNameOfImages, function (i, item) {
                var index = oldNameOfImages.indexOf(imageContainer);
                if (item == imageContainer) {
                oldNameOfImages.splice(index, 1);
                }
            });
            $(this).parent().remove();
        });

        function EditProduct() {
            debugger
            var ProductEnName = $("#productNameEntxt").val();
            var ProductEnNameAr = $("#productNameEntxtAr").val();
            var ProductdescEntxt = $("#descEntxt").val();
            var ProductdescEntxtAr = $("#descEntxtAr").val();
            var Productsizetxt = $("#sizetxt").val();
            var ProductPricetxt = $("#Pricetxt").val();
            var ProductBaseImgFile = $("#BaseImgFile").val();
            var ProductaltImgFile = $("#altImgFile").val();
            var IsFeaturedCH = $('#selecrdFeatured').val();
            var Brand = $("#ddlAllBrands").val();
            let valid = true;

            $('.spnreq').hide();
            $('.req').each(function () {
                if ($(this).val() === "" || $(this).val().trim() === "") {
                    $('#' + $(this).attr('id') + 'req').show();
                    valid = false;
                }
            })
            if (ProductdescEntxtAr == "") {
                $('#descEntxtreqAr').show();
            }
            if (ProductEnNameAr == "") {
                $('#productNameEntxtreqAr').show();
            }
            if (newImagesToUpload.length < 2 && oldNameOfImages.length < 2) {
                valid = false;
                $('#Imagesreq').show();
            }
            if (Brand == null || Brand == "") {
                valid = false;
                $('#ddlAllBrandsreq').show();
            }
            if (valid == true) {
                $.each(newImagesToUpload, function (i, item) {
                    if (typeof item === 'string') {
                        form.append("newNameOfImages", item);
                    } else if (item instanceof File) {
                        form.append("Images", item);
                    }
                });
                $.each(oldNameOfImages, function (i, item) {
                    form.append("oldNameOfImages", item);
                });
                form.append("id", "@Model.Id");
                $.ajax({
                    url: "/Products/EditImages",
                    type: "POST",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        debugger
                        var productsVM = {
                            Id: "@Model.Id",
                            NameEn: ProductEnName,
                            NameAr: ProductEnNameAr,
                            DescriptionEn: ProductdescEntxt,
                            DescriptionAr: ProductdescEntxtAr,
                            Size: Productsizetxt,
                            Price: ProductPricetxt,
                            BaseImage: result[0],
                            AltImage: result[1],
                            IsFeatured: IsFeaturedCH,
                            BrandsId: Brand,
                            Images: result
                        };
                        $.ajax({
                            url: "/Products/EditProduct",
                            type: "POST",
                            dataType: "Json",
                            contentType: "application/json",
                            data: JSON.stringify(productsVM),
                            success: function (data) {
                                location.href = "/Products"
                            },
                            error: function (err) {
                                alert('Oops...' + err);
                            }
                        })
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the AJAX request
                    }
                });
            }
        }
        $(document).on("click", "#SaveProductbtn", function () {
            EditProduct();
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#Pricetxt').on('input', function () {
      // Remove any non-numeric characters except for the decimal point
      $(this).val($(this).val().replace(/[^0-9.]/g, ''));

      // Ensure that there is at most one decimal point
      var value = $(this).val();
      var decimalCount = (value.match(/\./g) || []).length;
      if (decimalCount > 1) {
        value = value.slice(0, -1); // Remove the last character if there are multiple decimal points
        $(this).val(value);
      }
    });
  });
</script>