@using Microsoft.AspNetCore.Mvc.Localization;
@model List<Admin.Models.Products>
@inject IViewLocalizer Localizer

<div class="ec-content-wrapper" id="AddProduct">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>@Localizer["AddProduct"]</h2>
                    </div>
                    <div class="card-body">
                        <div class="row ec-vendor-uploads">
                            <span class="spnreq" id="Imagesreq" style="color : red ; display:none"> @Localizer["UplaodAtLeastTwoImages"]</span>
                            <div class="col-lg-4">
                                <div class="ec-vendor-img-upload">
                                    <div class="ec-vendor-main-img">
                                        <div class="avatar-upload thumb-upload">
                                            <div class="avatar-edit">
                                                <input type="file" class="ec-image-upload rec imageInput" accept=".png, .jpg, .jpeg" id="editIcon">
                                                <label for="imageUpload"><img src="/admin/assets/img/icons/edit.svg" class="svg_img header_svg" alt="edit"></label>
                                            </div>
                                            <div class="deleted-image-upload avatar-edit" style="left: 25px; width:40px;">
                                                <input type="button" class="ec-image-upload">
                                                <label for="imageUpload"><i class="mdi mdi mdi-delete-outline header_svg newimageUpload" style="font-size:25px;"></i></label>
                                            </div>
                                            <div class="avatar-preview ec-preview thumb-preview">
                                                <div class="imagePreview ec-div-preview imageContainer">
                                                    <img class="ec-image-preview" src="/admin/assets/img/products/vender-upload-preview.png" alt="edit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumb-upload-set colo-md-12">
                                            <div class="thumb-upload">
                                                <div class="thumb-edit">
                                                    <input type="file" class="imageUpload ec-image-upload rec imageInput" accept=".png, .jpg, .jpeg">
                                                    <label for="imageUpload"><img src="/admin/assets/img/icons/edit.svg" class="svg_img header_svg" alt="edit"></label>
                                                </div>
                                                <div class="deleted-image-upload" style="left: 5px;">
                                                    <input type="button" class="ec-image-upload">
                                                    <label for="imageUpload"><i class="mdi mdi mdi-delete-outline header_svg newimageUpload" style="font-size:20px;"></i></label>
                                                </div>
                                                <div class="thumb-preview ec-preview">
                                                    <div class="image-thumb-preview imageContainer">
                                                        <img class="image-thumb-preview ec-image-preview" src="/admin/assets/img/products/vender-upload-thumb-preview.png" alt="edit">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" id="addImage"> <i class="mdi mdi-image-plus"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="ec-vendor-upload-detail">
                                    <form class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">@Localizer["ProductNameEn"]</label>
                                            <span class="spnreq" id="productNameEntxtreq" style="color : red ; display:none">@Localizer["NameIsRequired"]</span>
                                            <input type="text" class="form-control slug-title req" id="productNameEntxt">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">@Localizer["ProductNameAr"]</label>
                                            <span class="spnreq" id="productNameEntxtreqAr" style="color : red ; display:none">@Localizer["NameIsRequired"]</span>
                                            <input type="text" class="form-control slug-title req" id="productNameEntxtAr">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["SelectBrand"]</label>
                                            <span class="spnreq" id="ddlAllBrandsreq" style="color : red ; display:none">@Localizer["SelectBrand"]</span>
                                            <select name="categories" id="ddlAllBrands" class="form-select">
                                                <option selected="" value="">@Localizer["SelectBrand"]</option>
                                                @foreach (var item in ViewBag.Brands)
                                                {
                                                    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                                                    var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;
                                                    <option value="@item.Id">@name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["ProductFeatured"]</label>
                                            <select class="form-select" id="selecrdFeatured">
                                                <option value="true">@Localizer["Yes"]</option>
                                                <option selected="" value="false">@Localizer["No"]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["DescriptionEn"]</label>
                                            <span class="spnreq" id="descEntxtreq" style="color : red ; display:none">@Localizer["DescriptionIsRequired"]</span>
                                            <textarea id="descEntxt" class="form-control req" rows="2"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">@Localizer["DescriptionAr"]</label>
                                            <span class="spnreq" id="descEntxtreqAr" style="color : red ; display:none">@Localizer["DescriptionIsRequired"]</span>
                                            <textarea id="descEntxtAr" class="form-control req" rows="2"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">@Localizer["Price"] <span>( @Localizer["InJOD"] )</span></label>
                                            <span class="spnreq" id="Pricetxtreq" style="color : red ; display:none">@Localizer["PriceIsRequired"]</span>
                                            <input type="number" class="form-control req" id="Pricetxt">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label ">@Localizer["Size"]</label>
                                            <span class="spnreq" id="sizetxtreq" style="color : red ; display:none">@Localizer["SizeIsRequired"]</span>
                                            <input type="text" class="form-control req" id="sizetxt">
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="SaveProductbtn" class="btn btn-primary">@Localizer["Submit"]</button>
                                            <button type="button" id="Cancelbtn" class="btn btn-danger">@Localizer["Cancel"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>

<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>@Localizer["Products"]</h1>
                <p class="breadcrumbs">
                    <span><a href="/">@Localizer["Home"]</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>@Localizer["Products"]
                </p>
            </div>
            <div>
                <a class="btn btn-primary AddProduct"> @Localizer["AddPorduct"]</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <div class="card-bar">
                        </div>
                    </div>
                    <div class="card-body">
                        <div onclick="" class="row" id="ProductCard">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card-wrapper">
                                        <div class="card-container">
                                            <div class="card-top"><img class="card-image" src="/images/@item.BaseImage" alt=""></div>
                                            <hr>
                                            <div class="card-bottom">
                                                @{
                                                    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                                                    var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;
                                                }
                                                <h3>@name</h3>
                                                <p>@item.Price @Localizer["JOD"]</p>
                                            </div>
                                            <div class="card-action">
                                                <div class="card-edit EditProduct" data_id="@item.Id"><i class="mdi mdi-circle-edit-outline"></i></div>
                                                <div class="card-preview Details" data_id="@item.Id"><i class="mdi mdi-eye-outline"></i></div>
                                                <div class="card-remove DeleteProduct" data_id="@item.Id"><i class="mdi mdi mdi-delete-outline"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.map"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    var imagesToUpload = [];
    var imagesToUploadFiles = {};
    var form = new FormData();
    var Image;

    $(document).ready(function () {
        $(document).on("click", ".AddProduct", function () {
            $("#AddProduct").slideDown(2000);
        });
        $(document).on("click", "#Cancelbtn", function () {
            $("#productNameEntxt").val(null);
            $("#productNameEntxtAr").val(null);
            $("#descEntxt").val(null);
            $("#descEntxtAr").val(null);
            $("#Pricetxt").val(null);
            $("#sizetxt").val(null);
            $("#BaseImgFile").val(null);
            $("#altImgFile").val(null);
            $("#selecrdFeatured").val("false");
            $("#ddlAllBrands").val(null);
            imagesToUpload = [];
            $("#AddProduct").slideUp(1000);
        });
        $(function () {
            $('#addImage').click(function () {
                var newDiv = $('<div class="thumb-upload"><div class="thumb-edit"><input type="file" class="imageUpload ec-image-upload rec imageInput" accept = ".png, .jpg, .jpeg"><label for= "imageUpload"><img src= "/admin/assets/img/icons/edit.svg" class= "svg_img header_svg" alt = "edit" > </label></div><div class="deleted-image-upload" style = "left: 5px;" ><input type="button" class="ec-image-upload" ><label for= "imageUpload" > <i class= "mdi mdi mdi-delete-outline header_svg newimageUpload" style = "font-size:20px;" > </i></label ></div><div class="thumb-preview ec-preview"><div class="image-thumb-preview imageContainer"><img class="image-thumb-preview ec-image-preview" src = "/admin/assets/img/products/vender-upload-thumb-preview.png" alt = "edit" ></div></div></div>');
                $('.thumb-upload-set').append(newDiv);
            });
        });
        $(document).on('change', '.imageInput', function (e) {
            var file = e.target.files[0];
            // Create an object URL for the image file
            var objectURL = URL.createObjectURL(file);

            // Find the closest imageContainer div relative to the current input
            var imageContainer = $(this).closest('.thumb-upload').find('.imageContainer');

            // Create an <img> element and set its source to the object URL
            var img = $('<img>').attr('src', objectURL);
            // Empty the selected imageContainer div and append the image
            imageContainer.empty().append(img);

            var updatedSrc = img.attr('src');
            updatedSrc = updatedSrc.substr(updatedSrc.lastIndexOf('/') + 1);
            //imagesToUpload.push(updatedSrc);
            imagesToUpload.push(file, updatedSrc);
            $(this).val(null);
        });
        $(document).on('click', '.deleted-image-upload', function () {
            var imageContainer = $(this).closest('.thumb-upload').find('.imageContainer img').attr('src');
            imageContainer = imageContainer.substr(imageContainer.lastIndexOf('/') + 1);
            $.each(imagesToUpload, function (i, item) {
                var index = imagesToUpload.indexOf(imageContainer);
                if (item == imageContainer) {
                    imagesToUpload.splice(index, 1);
                    imagesToUpload.splice(index - 1, 1);
                }
            });
            $(this).parent().remove();
        });
        $(document).on("click", ".Details", function () {
            var Id = $(this).attr('data_Id');
            window.location.href = "/Products/Details?Id=" + Id
        });
        $(document).on("click", ".EditProduct", function () {
            var Id = $(this).attr('data_Id');
            window.location.href = "/Products/Edit?id=" + Id
        });
        $(document).on("click", ".DeleteProduct", function () {
            var Id = $(this).attr('data_Id');
            $.ajax({
                url: "/Products/DeleteProduct/" + Id,
                type: "Post",
                dataType: "json",
                success: function () {
                    location.reload();
                },
                error: function (response) {
                    location.reload();
                }
            });
        });

        function AddProduct() {
            debugger
            var ProductEnName = $("#productNameEntxt").val();
            var ProductEnNameAr = $("#productNameEntxtAr").val();
            var ProductdescEntxt = $("#descEntxt").val();
            var ProductdescEntxtAr = $("#descEntxtAr").val();
            var Productsizetxt = $("#sizetxt").val();
            var ProductPricetxt = $("#Pricetxt").val();
            var ProductBaseImgFile = $("#BaseImgFile").val();
            var ProductaltImgFile = $("#altImgFile").val();
            var IsFeaturedCH = $('#selecrdFeatured').val();
            var Brand = $("#ddlAllBrands").val();
            let valid = true;

            $('.spnreq').hide();
            $('.req').each(function () {
                if ($(this).val() === "" || $(this).val().trim() === "") {
                    $('#' + $(this).attr('id') + 'req').show();
                    valid = false;
                }
            })
            if (ProductdescEntxtAr == "") {
                $('#descEntxtreqAr').show();
            }
            if (ProductEnNameAr == "") {
                $('#productNameEntxtreqAr').show();
            }
            if (imagesToUpload.length < 2) {
                valid = false;
                $('#Imagesreq').show();
            }
            if (Brand == null || Brand == "") {
                valid = false;
                $('#ddlAllBrandsreq').show();
            }
            if (valid == true) {
                $.each(imagesToUpload, function (i, item) {
                    if (typeof item === 'string') {
                        form.append("NameOfImages", item);
                    } else if (item instanceof File) {
                        form.append("Images", item);
                    }
                });
                $.ajax({
                    url: "/Products/AddImages",
                    type: "POST",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        var productsVM = {
                            NameEn: ProductEnName,
                            NameAr: ProductEnNameAr,
                            DescriptionEn: ProductdescEntxt,
                            DescriptionAr: ProductdescEntxtAr,
                            Size: Productsizetxt,
                            Price: ProductPricetxt,
                            BaseImage: result[0],
                            AltImage: result[1],
                            IsFeatured: IsFeaturedCH,
                            BrandsId: Brand,
                            Images: result
                        };
                        $.ajax({
                            url: "/Products/AddProduct",
                            type: "POST",
                            dataType: "Json",
                            contentType: "application/json",
                            data: JSON.stringify(productsVM),
                            success: function (data) {
                                $("#productNameEntxt").val(null);
                                $("#productNameEntxtAr").val(null);
                                $("#descEntxt").val(null);
                                $("#descEntxtAr").val(null);
                                $("#Pricetxt").val(null);
                                $("#sizetxt").val(null);
                                $("#BaseImgFile").val(null);
                                $("#altImgFile").val(null);
                                imagesToUpload = [];
                                $("#AddProduct").slideUp();
                                location.reload()
                            },
                            error: function (err) {
                                swal('Oops...', 'Something went wrong!', 'error');
                            }
                        })
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the AJAX request
                    }
                });
            }
        }
        $(document).on("click", "#SaveProductbtn", function () {
            AddProduct();
        });
    });

</script>