@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="page home-page">
    <div class="page-body">
        @* Section One "Slider "*@
        <div class="row pb-4 no-gutters">
            <div class="col-12">
                <div class="slider-grid">
                    <div class="slider-container" data-sliderid="1" data-loading="true" data-loaded="true">
                        <div class="owl-carousel slider owl-loaded owl-drag" id="slider-1">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-4047px, 0px, 0px); transition: all 0.25s ease 0s; width: 8094px;">
                                    <div class="owl-item active" style="width: 1349px;">
                                        <div class="slider-item">
                                            <div class="slider-picture">
                                                <a href="/" title="New Season">
                                                    <img id="Slider1" alt="Slider-1" src="/images/Slider-1.png" title="">
                                                </a>
                                            </div>
                                            <div class="slider-caption">
                                                <div class="slider-caption-inner">
                                                    <h3 class="slider-subtitle">"@Localizer["BeautyCare"]</h3>
                                                    <h2 class="slider-title">@Localizer["IsNotDreamWithUs"]"</h2>
                                                    <a href="/Brands" class="slider-btn">@Localizer["ShopNow"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 1349px;">
                                        <div class="slider-item">
                                            <div class="slider-picture">
                                                <a href="/" title="Stylish Bag">
                                                    <img id="Slider2" alt="Slider-2" src="/images/Slider-2.png" title="">
                                                </a>
                                            </div>
                                            <div class="slider-caption">
                                                <div class="slider-caption-inner">
                                                    <h3 class="slider-subtitle" style="color: black !important">
                                                        "@Localizer["BRINGYOUR"]
                                                    </h3>
                                                    <h2 class="slider-title" style="color:black !important">@Localizer["BEAUTYFROMHERE"]"</h2>
                                                    <a href="/Brands" class="slider-btn">@Localizer["ShopNow"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 1349px;">
                                        <div class="slider-item">
                                            <div class="slider-picture">
                                                <a href="/" title="Stylish Bag">
                                                    <img id="Slider3" alt="Slider-3" src="/images/Slider-3.png" title="">
                                                </a>
                                            </div>
                                            <div class="slider-caption">
                                                <div class="slider-caption-inner">
                                                    <h3 class="slider-subtitle">"@Localizer["Lifeisn_tperfect"]</h3>
                                                    <h2 class="slider-title">@Localizer["ButYourHairCanBe"]"</h2>
                                                    <a href="/Brands" class="slider-btn">@Localizer["ShopNow"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous"><span class="lnr lnr-chevron-left"></span></span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next"><span class="lnr lnr-chevron-right"></span></span></button></div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('#slider-1').owlCarousel({
                                    nav: true,
                                    loop: true,
                                    dots: true,
                                    margin: 0,
                                    autoplay: true,
                                    rtl: false,
                                    autoplayTimeout: 3000,
                                    autoplayHoverPause: true,
                                    lazyLoad: false,
                                    lazyLoadEager: 0,
                                    startPosition: 0,
                                    animateOut: '',
                                    animateIn: '',
                                    responsive: {
                                        0: {
                                            items: 1
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        @*End Section One "Slider "*@
        <div class="container">
            @* Section two "Grid"*@
            <div class="row">
                <div class="col-12">
                    <div class="category-grid home-page-category-grid">
                        <div class="row item-grid mb-5 cat-grid cat-grid-4">
                            <div class="col-12 col-md-6">
                                <div class="cat-grid--item cat-grid--item-0">
                                    <p class="cat-grid--item-link"> <span class="cat-grid--item-inner lazyload" data-src="@Model.GridImages[0].ImageUrl"></span> </p>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="cat-grid--item cat-grid--item-1">
                                            <p class="cat-grid--item-link"> <span class="cat-grid--item-inner lazyload" data-src="@Model.GridImages[1].ImageUrl"></span> </p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="cat-grid--item cat-grid--item-2">
                                            <p class="h-100 cat-grid--item-link m-0"> <span class="cat-grid--item-inner lazyload" data-src="@Model.GridImages[2].ImageUrl"></span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="cat-grid--item cat-grid--item-1">
                                            <p class="cat-grid--item-link"> <span class="cat-grid--item-inner lazyload" data-src="@Model.GridImages[3].ImageUrl"></span> </p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="cat-grid--item cat-grid--item-2">
                                            <p class="h-100 cat-grid--item-link m-0"> <span class="cat-grid--item-inner lazyload" data-src="@Model.GridImages[4].ImageUrl"></span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End Section two "Grid"*@
            @* Section three "Brands"*@
            <div class="row">
                <div class="col-12">
                    <div class="ocarousel-grid">
                        <div class="title section-header">
                            <h3 class="d-flex justify-content-center align-items-center text-uppercase section-title"><span>@Localizer["Brands"]</span></h3>
                        </div>
                        <div class="carousel-category" data-carouselid="6" data-loaded="true">
                            <div class="owl-carousel ocarousel owl-loaded owl-drag" id="ocarousel-6">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(-2065px, 0px, 0px); transition: all 0.25s ease 0s; width: 3540px;">
                                        @foreach (var item in Model.Brands)
                                        {
                                            string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                                            var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;
                                            <div class="owl-item" style="width: 285px; margin-right: 10px;">
                                                <div class="ocarousel-item">
                                                    <a href="/Brands/Products?brandId=@item.Id" title="@Localizer["ShowDetails"] @name">
                                                        <img alt="@name" src="@item.ImageUrl" title="@Localizer["ShowDetails"] @name">
                                                    </a>
                                                    <div class="category-name">
                                                        <a href="/Brands/Products?brandId=@item.Id">@name</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="lnr lnr-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="lnr lnr-chevron-left"></i></button></div>
                                <div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $('#ocarousel-6').owlCarousel({
                                        nav: true,
                                        loop: true,
                                        navText: ["<i class='fas fa-angle-left'></i>", "<i class='fas fa-angle-right'></i>"],
                                        dots: true,
                                        margin: 10,
                                        autoplay: true,
                                        rtl: false,
                                        autoplayTimeout: 3000,
                                        autoplayHoverPause: true,
                                        lazyLoad: false,
                                        lazyLoadEager: 0,
                                        center: false,
                                        startPosition: 0,
                                        responsive: {
                                            0: {
                                                items: 1
                                            },
                                            576: {
                                                items: 1
                                            },
                                            768: {
                                                items: 2
                                            },
                                            992: {
                                                items: 4
                                            },
                                            1200: {
                                                items: 4
                                            },
                                            1500: {
                                                items: 4
                                            }
                                        }
                                    });
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            @*End Section three "Brands"*@
            @* Section four "feature product"*@
            <div class="row">
                <div class="col-12">
                    <div class="product-grid home-page-product-grid">
                        <div class="position-relative text-center clr-dark section-header">
                            <h3 class="d-flex justify-content-center align-items-center text-uppercase section-title">
                                <span>@Localizer["FeaturedProducts"]</span>
                            </h3>
                            <span class="d-block text-center clr-gray font-italic section-subtitle">@Localizer["TopFeaturedItems"]</span>
                        </div>
                        <div class="row p-cards of-x-h">
                            @if(Model.Products != null)
                            {
                                foreach (var item in Model.Products)
                                {
                                    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                                    var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;

                                    <div class="col-6 col-lg-3 p-card--inner">
                                        <div class="position-relative mb-5 et-lazy-img-3--hvr p-card">
                                            <div class="position-relative of-h p-card--img">
                                                <a class="position-relative d-block w-100 h-100 p-card--link" href="/Products/Detail?Id=@item.Id" title="@Localizer["ShowDetails"] @name">
                                                    <span class="position-relative d-block p-card--link-img lazyload" id="productPictureContainer_56" data-src="/images/@item.BaseImage"></span>
                                                </a>
                                                <div class="position-absolute w-100 et-lazy-img-3 p-card--img-hover hoverImage_56">
                                                    <div class="position-relative d-block w-100 h-100 p-card--img-hover-inner hoverInnerImage_56" style="background-image:url('/images/@item.AltImage')">
                                                    </div>
                                                </div>
                                                <div class="position-absolute p-card--btn-icons p-card--wt">
                                                    <button type="button" value="Add to wishlist" rel="nofollow" class="position-relative d-inline-block m-0 text-center add-list add-wt AddToWishlistWithOneQty" data-product-Id="@item.Id" data_Id="@item.Id" data-original-title="@Localizer["AddtoWishlist"]">
                                                        <i id="wishListIcon_56" class="btn-icon far fa-heart"></i>
                                                    </button>
                                                </div>
                                                <div class="position-absolute d-flex flex-column text-center p-card--hvr-btn product-item" data-productid="56" data-quick-view="true">
                                                    @* <button class="d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-atc AddToCart" rel="nofollow" data-product-Id="@item.Id">
                                                        <i class="btn-icon lnr lnr-cart"></i>
                                                        <span class="btn-txt">@Localizer["AddToCart"]</span>
                                                    </button> *@
                                                    <a class="d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-atc" href="/Products/Detail?Id=@item.Id">
                                                        <i class="btn-icon lnr lnr-cart"></i>
                                                        <span class="btn-txt">@Localizer["AddToCart"]</span>
                                                    </a>
                                                    <button class="d-inline-block d-lg-none position-relative text-center text-capitalize add-btn add-btn-sm add-atc AddToCart" rel="nofollow" data-product-Id="@item.Id" title="@Localizer["AddToCart"]" data-original-title="@Localizer["AddToCart"]">
                                                        <i class="btn-icon lnr lnr-cart"></i>
                                                    </button>
                                                    <button data-toggle="modal" data-target="#glassAnimals_@item.Id" data-Id="@item.Id" id="QuickView" type="button" class="button-2 quick-view-btn d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-qv" data-productid="56" title="@Localizer["QuickView"]">
                                                        <i class="btn-icon lnr lnr-eye"></i>
                                                        <span class="btn-txt">@Localizer["QuickView"]</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text-center p-card--info">
                                                <h3 class="position-relative m-0 clr-dark text-capitalize p-card--title">
                                                    <a href="/Products/Detail?Id=@item.Id" class="p-card--title-link" title="@Localizer["ShowDetails"]@name">@name </a>
                                                </h3>
                                                <h4 class="position-relative m-0 clr-dark p-card--title" style="font-size:12px">@Localizer["Size"]: &nbsp; <strong>@item.Size</strong></h4>
                                                <div class="p-card--prices">
                                                    <span class="clr-primary f-s-22 p-card--price font-weight-medium actual-price">@item.Price  @Localizer["JOD"]</span>
                                                </div>
                                                <div class="d-flex justify-content-center m-0 attributes">
                                                </div>
                                                <div class="d-none p-card--hvr-btn product-item" data-productid="56" data-quick-view="true">
                                                    @* <button class="d-none d-md-inline-block position-relative text-center text-capitalize add-btn add-atc AddToCart" rel="nofollow" data-product-Id="@item.Id">
                                                        <i class="btn-icon lnr lnr-cart"></i>
                                                        <span class="btn-txt">@Localizer["AddToCart"]</span>
                                                    </button> *@
                                                    <a class="d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-atc" href="/Products/Detail?Id=@item.Id">
                                                        <i class="btn-icon lnr lnr-cart"></i>
                                                        <span class="btn-txt">@Localizer["AddToCart"]</span>
                                                    </a>
                                                    <button type="button" class="button-2 quick-view-btn d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-qv" data-productid="56" title="@Localizer["QuickView"]">
                                                        <i class="btn-icon lnr lnr-eye"></i>
                                                        <span class="btn-txt">@Localizer["QuickView"]</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*End Section four "feature product"*@
        </div>
    </div>
</div>
<partial name="_PopupPartial" model="Model.Products" />
@foreach (var item in Model.BackgroundSection)
{
    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
    var title = culture.StartsWith("en") ? item.TitleEn : item.TitleAr;
    var desc = culture.StartsWith("en") ? item.DescriptionEn : item.DescriptionAr;

    <div style=" background: url(../..@item.ImageUrl); width: 100%; height: 300px; background-size: 100% 100%; text-align: center; text-transform: uppercase; vertical-align: middle; display: table-cell; width: 100vw;">
        <h1 style="color:white">@title</h1>
        <h3 style="color:white">@desc</h3>
    </div>
}

<div id="bar-notification" class="bar-notification-container" data-close="Close">
    <div class="bar-notification success" style="display: none;">
        <p class="content">@Localizer["AlertAdded"] <a href="/cart">@Localizer["shoppingCart"]</a></p>
        <span class="close" title="@Localizer["Close"]"></span>
    </div>
</div>
<div id="bar-notification-wishlist" class="bar-notification-container" data-close="Close">
    <div class="bar-notification success" style="display: none;">
        <p class="content">@Localizer["AlertAdded"] <a href="/Wishlist">@Localizer["wishlist"]</a></p>
        <span class="close" title="@Localizer["Close"]"></span>
    </div>
</div>

@section Scripts
    {
    <script>
        $(".AddToCart").on("click", async function () {
            debugger;
            var productId = $(this).attr('data-product-Id');

        @if (User.Identity.IsAuthenticated)
        {
            <text>
                try {
                    var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                    if (response.status == 200) {
                        // Show the success notification
                        $('#bar-notification .bar-notification.success').show();

                        // Wait for 2 seconds
                        setTimeout(function () {
                            // Reload the page after 2 seconds
                            location.reload();
                        }, 2000);
                    }
                } 
                catch (err) {
                }
            </text>
        }
        else
        {
            <text>
                    window.location.href = "/Account/Login";
            </text>
        }});
    </script>
    <script>
        $(".AddToWishlistWithOneQty").on("click", async function () {
            var productId = $(this).attr('data-product-Id')
        @if (User.Identity.IsAuthenticated)
        {
            <text>
                                            try {
                    var response = await fetch(`/WishList/AddItem?productId=${productId}`);
                    if (response.status == 200) {
                        // Show the success notification
                        $('#bar-notification-wishlist .bar-notification.success').show();

                        // Wait for 2 seconds
                        setTimeout(function () {
                            // Reload the page after 2 seconds
                            location.reload();
                        }, 2000);
                    }
                }
                catch (err) {
                }
            </text>
        }
        else
        {
            <text>
                    window.open("/Account/Login", "_self");
            </text>
        }});

    </script>
}