@model Admin.Models.ViewModels.ChangePasswordVM
<div class="column-two-wrapper">
    <div class="container">
        @Html.Partial("_LeftSideAccount")
        <div class="center-2">
            <div class="page account-page change-password-page">
                <div class="page-title">
                    <h1>@Localizer["MyAccount"] - @Localizer["ChangePassword"]</h1>
                </div>
                <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly" class="text-danger" style="margin: 0;padding: 10px;margin-top: 30px;"></div>
                <div class="page-body">
                    <form class="inline-form" method="post" asp-controller="Account" asp-action="ChangePassword" novalidate="novalidate">
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="form-group row align-items-center inputs">
                                    <div class="col-md-3 text-left text-md-right"><label class="col-form-label" for="OldPassword">@Localizer["OldPassword"]:</label> <span class="required">*</span></div>
                                    <div class="col-md-9 text-left"><input asp-for="OldPassword" class="form-control" type="password" data-val="true" data-val-required="@Localizer["ValidationOldPassword"]" id="OldPassword" name="OldPassword"> <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span></div>
                                </div>
                                <div class="form-group row align-items-center inputs">
                                    <div class="col-md-3 text-left text-md-right"><label class="col-form-label" for="NewPassword">@Localizer["NewPassword"]:</label> <span class="required">*</span></div>
                                    <div class="col-md-9 text-left"><input asp-for="NewPassword" class="form-control" type="password" data-val="true" data-val-regex="@Localizer["ValidationNewPassword"]" data-val-regex-pattern="^.{6,}$" data-val-required="ValidationNewPasswordReq" id="NewPassword" name="NewPassword"> <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span></div>
                                </div>
                                <div class="form-group row align-items-center inputs">
                                    <div class="col-md-3 text-left text-md-right"><label class="col-form-label" for="ConfirmNewPassword">@Localizer["ConfirmPassword"]:</label> <span class="required">*</span></div>
                                    <div class="col-md-9 text-left"><input asp-for="ConfirmPassword" class="form-control" type="password" data-val="true" data-val-equalto="@Localizer["ValidationConfirmPassword"]" data-val-equalto-other="*.NewPassword" data-val-required="@Localizer["ValidationConfirmPasswordReq"]"> <span class="field-validation-valid" data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons"><input type="submit" class="btn btn-primary btn-lg text-uppercase change-password-button" value="@Localizer["ChangePassword"]"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>