@model IEnumerable<Admin.Models.Brands>

<div class="page manufacturer-list-page">
    <div class="container-fluid position-relative">
        <div class="d-flex justify-content-center align-items-center py-50 px-0 page-header">
            <div class="position-absolute t-0 b-0 l-0 r-0 bg-gray page-header--bg"></div>
            <div class="position-relative page-header--content">
                <h1 class="clr-white f-s-20 text-center page-header--content-title">@Localizer["Brands"]</h1>
            </div>
        </div>
    </div>
    <div class="py-5 page-body">
        <div class="container">
            <div class="manufacturer-grid">
                <div class="row justify-content-center item-grid">
                    @foreach (var item in Model)
                    {
                        string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
                        var name = culture.StartsWith("en") ? item.NameEn : item.NameAr;

                        <div class="col-sm-6 col-md-4 col-lg-3 item-box">
                            <div class="manufacturer-item">
                                <div class="picture">
                                    <a asp-controller="Brands" asp-action="Products" asp-route-brandId="@item.Id" title="@Localizer["ShowProducts"] @name">
                                        <img alt="@name" src="@item.ImageUrl" title="@Localizer["ShowProducts"] @name">
                                    </a>
                                </div>
                                <h2 class="text-uppercase title"><a asp-controller="Brands" asp-action="Products" asp-route-brandId="@item.Id" title="@Localizer["ShowProducts"] @name"> @name </a></h2>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
