@model IEnumerable<Admin.Models.Products>

@if(Model.Any())
{
    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
    var name = culture.StartsWith("en") ? Model.First().Brands.NameEn : Model.First().Brands.NameAr;

    <div class="container-fluid position-relative bg-gray-l">
        <div class="d-flex flex-column justify-content-center align-items-center py-50 px-0 page-header">
            <div class="catgegory_top_banner">
                <div class="page-title">
                    <h1>@name</h1>
                    <p class="subtitle"></p>
                </div>
            </div>
            <div class="w-100 m-0 breadcrumb">
                <ul class="w-100 m-0 text-center">
                    <li><a href="/" title="@Localizer["Home"]">@Localizer["Home"]</a> <span class="delimiter">/</span></li>
                    <li><a href="/Brands/Products?brandId=@Model.First().Brands.Id" title="@name"><span>@name</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
    <div class="page category-page">
        <div class="page-body">
            <div class="container p-selectors">
                <div class="row align-items-center my-3 p-selectors--inner">
                    <div class="col-2 d-none d-md-block text-center">
                        <div class="d-inline-flex justify-content-around align-items-center vm-btn-group">
                            <a class="d-inline-flex mr-2 vm-btn btn-grid selected" title="Grid"><span class="d-none">Grid</span><i class="fas fa-th fa-lg"></i></a> 
                            <a class="d-inline-flex ml-2 vm-btn btn-list" title="List"> <span class="d-none">List</span><i class="fas fa-list fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-5 text-left"></div>
                    <div class="col-6 col-md-5 text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="d-inline-flex flex-column product-sort-by">
                                <span class="d-block pb-2 f-s-12 lh-100 text-left">@Localizer["Sortby"]</span>
                                <select aria-label="Select product sort order" id="products-orderby" name="products-orderby">
                                    <option value="aToZ">@Localizer["AtoZ"]</option>
                                    <option value="zToA">@Localizer["ZtoA"]</option>
                                    <option value="lowToHigh">@Localizer["LToH"]</option>
                                    <option value="highToLow">@Localizer["HToL"]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-container">
                <div class="products-wrapper">
                    <div class="container">
                        <div class="product-grid" id="switchStyle">
                            <div class="row justify-content-center mt-5 p-grid">
                                    @foreach (var item in Model)
                                    {
                                        var nameProduct = culture.StartsWith("en") ? item.NameEn : item.NameAr;

                                        <div class="col-6 col-md-4 col-lg-3 p-item">
                                            <div class="position-relative mb-5 et-lazy-img-3--hvr p-card">
                                                <div class="position-relative of-h p-card--img">
                                                    <a class="position-relative d-block w-100 h-100 p-card--link" href="/Products/Detail?Id=@item.Id" title="@Localizer["ShowDetails"] @nameProduct"> 
                                                        <span class="position-relative d-block p-card--link-img lazyload" data-src="/images/@item.BaseImage"></span> 
                                                    </a>
                                                    <div class="position-absolute w-100 et-lazy-img-3 p-card--img-hover">
                                                        <div class="position-relative d-block w-100 h-100 p-card--img-hover-inner hoverInnerImage_67" style="background-image: url('/images/@item.AltImage')">
                                                        </div>
                                                    </div>
                                                    <div class="position-absolute p-card--btn-icons p-card--wt">
                                                        <button type="button" value="@Localizer["AddtoWishlist"]" title="@Localizer["AddtoWishlist"]" data-product-Id="@item.Id" class="position-relative d-inline-block m-0 text-center add-list add-wt AddToWishlistWithOneQty"> 
                                                            <i class="btn-icon far fa-heart"></i> 
                                                        </button>
                                                    </div>
                                                    <div class="position-absolute d-flex flex-column text-center p-card--hvr-btn product-item" data-quick-view="true">
                                                        <button class="d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-atc AddToCart" rel="nofollow" data-product-Id="@item.Id"> 
                                                            <i class="btn-icon lnr lnr-cart"></i> 
                                                            <span class="btn-txt">@Localizer["AddtoCart"]</span> 
                                                        </button> 
                                                        <button class="d-inline-block d-lg-none position-relative text-center text-capitalize add-btn add-btn-sm add-atc AddToCart" rel="nofollow" data-product-Id="@item.Id" title="@Localizer["AddtoCart"]" data-original-title="@Localizer["AddtoCart"]"> 
                                                            <i class="btn-icon lnr lnr-cart"></i> 
                                                        </button>
                                                        <button data-toggle="modal" data-target="#glassAnimals_@item.Id" data-Id="@item.Id" id="QuickView" type="button" class="button-2 quick-view-btn d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-qv" title="@Localizer["QuickView"]">
                                                            <i class="btn-icon lnr lnr-eye"></i>
                                                            <span class="btn-txt">@Localizer["QuickView"]</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="text-center p-card--info">
                                                    <h3 class="position-relative m-0 clr-dark text-capitalize p-card--title">
                                                        <a href="/Products/Detail?Id=@item.Id" class="p-card--title-link" title="@Localizer["ShowDetails"] @nameProduct">@nameProduct</a>
                                                    </h3>
                                                    <div class="position-absolute offer-content"></div>
                                                    <h4 class="position-relative m-0 clr-dark p-card--title" style="font-size:12px">@Localizer["Size"]: &nbsp;<strong>@item.Size </strong></h4>
                                                    <div class="p-card--prices"><span class="clr-primary f-s-22 p-card--price font-weight-medium actual-price">@item.Price @Localizer["JOD"]</span></div>
                                                    <div class="d-none p-card--hvr-btn product-item" data-quick-view="true">
                                                        <button class="d-none d-md-inline-block position-relative text-center text-capitalize add-btn add-atc AddToCart"data-product-Id="@item.Id" rel="nofollow"> 
                                                            <i class="btn-icon lnr lnr-cart"></i> 
                                                            <span class="btn-txt">@Localizer["AddtoCart"]</span> 
                                                        </button>
                                                        <button data-toggle="modal" data-target="#glassAnimals_@item.Id" data-Id="@item.Id" id="QuickView" type="button" class="button-2 quick-view-btn d-none d-lg-inline-block position-relative text-center text-capitalize add-btn add-qv" title="@Localizer["QuickView"]">
                                                            <i class="btn-icon lnr lnr-eye"></i>
                                                            <span class="btn-txt">@Localizer["QuickView"]</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <partial name="_PopupPartial" model="Model" />
    <div id="bar-notification" class="bar-notification-container" data-close="Close">
        <div class="bar-notification success" style="display: none;">
            <p class="content">@Localizer["AlertAdded"] <a href="/cart">@Localizer["shoppingCart"]</a></p>
            <span class="close" title="Close"></span>
        </div>
    </div>
    <div id="bar-notification-wishlist" class="bar-notification-container" data-close="Close">
        <div class="bar-notification success" style="display: none;">
            <p class="content">@Localizer["AlertAdded"] <a href="/Wishlist">@Localizer["wishlist"]</a></p>
            <span class="close" title="Close"></span>
        </div>
    </div>
    @section Scripts
    {
        <script>
        $(".AddToCart").on("click", async function () {
            debugger;
            var productId = $(this).attr('data-product-Id');

        @if (User.Identity.IsAuthenticated)
        {
            <text>
                    try {
                    var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                    if (response.status == 200) {
                        // Show the success notification
                        $('#bar-notification .bar-notification.success').show();

                        // Wait for 2 seconds
                        setTimeout(function () {
                            // Reload the page after 2 seconds
                            location.reload();
                        }, 2000);
                    }
                } catch (err) {
                }
            </text>
        }
        else
        {
            <text>
                    window.location.href = "/Account/Login";
            </text>
        }});
        $(".AddToWishlistWithOneQty").on("click",async function () {
            var productId = $(this).attr('data-product-Id')
            @if (User.Identity.IsAuthenticated)
            {
                <text>
                        try {
                        var response = await fetch(`/WishList/AddItem?productId=${productId}`);
                        if (response.status == 200) {
                            // Show the success notification
                            $('#bar-notification-wishlist .bar-notification.success').show();

                            // Wait for 2 seconds
                            setTimeout(function () {
                                // Reload the page after 2 seconds
                                location.reload();
                            }, 2000);
                        }
                    }
                    catch (err) {
                    }
                </text>
            }
            else
            {
                <text>
                    window.location.href="/Account/Login"
                </text>
            }});
        </script>
        <script>
        $(".btn-list").click(function () {
            $("#switchStyle").removeClass("product-grid");
            $("#switchStyle").addClass("product-list");
            $(".btn-grid").removeClass("selected");
            $(".btn-list").addClass("selected");
        });
        $(".btn-grid").click(function () {
            $("#switchStyle").removeClass("product-list");
            $(".btn-list").removeClass("selected");
            $(".btn-grid").addClass("selected");
            $("#switchStyle").addClass("product-grid");
        });

        // Sorted By
        $(document).ready(function () {
            var productsOrderby = $('#products-orderby');
            debugger
            // Load the saved selected option from localStorage
            var savedValue = localStorage.getItem('selectedOption');
            if (savedValue) {
                productsOrderby.val(savedValue);
            } else {
                // Set the initial selected option to "A to Z" if no saved value
                productsOrderby.val('aToZ');
                // Save the initial selected option to localStorage
                localStorage.setItem('selectedOption', 'aToZ');
            }

            // Listen for change event on the select element
            productsOrderby.change(function () {
                // Get the selected option value
                var selectedValue = $(this).val();

                // Save the selected option to localStorage
                localStorage.setItem('selectedOption', selectedValue);
                window.location.href = '/Brands/Products?brandId=' + @Html.Raw(Json.Serialize(Model.FirstOrDefault().BrandsId)) +"&&sortOrder="+selectedValue;
            });
        });
    </script>
    }
}
else
{
    <div class="container-fluid position-relative bg-gray-l">
    <div class="d-flex flex-column justify-content-center align-items-center py-50 px-0 page-header">
        <div class="catgegory_top_banner">
            <div class="page-title">
                <h1><span>BRANDS</span></h1>
                <p class="subtitle"></p>
            </div>
        </div>
        <div class="w-100 m-0 breadcrumb">
            <ul class="w-100 m-0 text-center">
                <li><a href="/" title="Home">@Localizer["Home"]</a> <span class="delimiter">/</span></li>
                <li><span>@Localizer["BRANDS"]</span></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="page category-page">
        <div class="page-body">
            <div class="container p-selectors">
                <div class="row align-items-center my-3 p-selectors--inner">
                    <div class="col-2 d-none d-md-block text-center">
                        <div class="d-inline-flex justify-content-around align-items-center vm-btn-group">
                            <a class="d-inline-flex mr-2 vm-btn btn-grid selected" title="Grid"><span class="d-none">Grid</span><i class="fas fa-th fa-lg"></i></a> 
                            <a class="d-inline-flex ml-2 vm-btn btn-list" title="List"> <span class="d-none">List</span> <i class="fas fa-list fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-5 text-left"></div>
                    <div class="col-6 col-md-5 text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="d-inline-flex flex-column product-sort-by">
                                <span class="d-block pb-2 f-s-12 lh-100 text-left">@Localizer["Sortby"]</span>
                                <select aria-label="Select product sort order" id="products-orderby" name="products-orderby">
                                    <option value="aToZ">@Localizer["AtoZ"]</option>
                                    <option value="zToA">@Localizer["ZtoA"]</option>
                                    <option value="lowToHigh">@Localizer["LToH"]</option>
                                    <option value="highToLow">@Localizer["HToL"]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
